.post-display {

  h1 {
    margin-top: 120px;
    margin-bottom: 50px;
    font-size: 60px;
    color: $gray;
    text-align: center;
  }
}

.post-content {
  margin-top: 40px;
  img {
    width: 100%;
  }
}
