html {
  border: 20px solid $blue;
  scroll-behavior: smooth;
}

// links

a {
  color: $blue;
  text-decoration: none;
}

a:hover {
    color: $red;
    text-decoration: none;
}

// selected content

::selection {
  background: #FFA0A0;
}
