<div class="navbar-wrapper">
  <a href="index.html">
    <%= image_tag "logo.png", class: "nav-logo" %>
  </a>
  <div class="navbar-links">
    <a href="index.html#about" class="navbar-link">About</a>
    <a href="index.html#projects" class="navbar-link">Projects</a>
    <a href="index.html#blog" class="navbar-link">Blog</a>
    <a href="index.html#contact" class="navbar-link">Contact</a>
  </div>
</div>
