<div class="row">
  <%= @ %>

  <a href="">
    <%= image_tag "intro-img.png", class: "intro-img" %>
  </a>
  <h3>Simple As This</h3>
  <p>
    Lorem ipsum dolor sit amet, ut qui sensibus contentiones, hinc inciderint et quo.
  </p>
</div>
