<div class="home-content">
  <h1 class="text-center">Hi! I'm João, a junior progammer.</h1>
  <%= image_tag "intro-img.png", class: "intro-img" %>
  <div class="container">
    <h2 class="text-center">About</h2>
    <p>Lorem ipsum dolor sit amet, cu est alii facete vituperatoribus, ut assum dicit oratio eum. Everti nominavi tacimates ei eum, no duis dolorum ceteros sed, ad per dicit facete. Usu dicam mucius prompta cu, ex pro tantas dicunt, pro ea nobis doctus. Ut sit vivendo cotidieque.</p>
    <p>Lorem ipsum dolor sit amet, cu est alii facete vituperatoribus, ut assum dicit oratio eum. Everti nominavi tacimates ei eum, no duis dolorum ceteros sed, ad per dicit facete. Usu dicam mucius prompta cu, ex pro tantas dicunt, pro ea nobis doctus. Ut sit vivendo cotidieque.</p>
  </div>
</div>
